@tailwind base;
@tailwind components;
@tailwind utilities;

/* تحسين شكل مقالات الـ prose */
.prose {
  --tw-prose-body: #111827;
  --tw-prose-headings: #0f172a;
  --tw-prose-links: #1f6feb;
  --tw-prose-bold: #0f172a;
  --tw-prose-counters: #6b7280;
  --tw-prose-bullets: #d1d5db;
  --tw-prose-hr: #e5e7eb;
  --tw-prose-quotes: #111827;
  --tw-prose-quote-borders: #e5e7eb;
  --tw-prose-captions: #6b7280;
  --tw-prose-code: #0f172a;
  --tw-prose-pre-code: #e5e7eb;
  --tw-prose-pre-bg: #0b1220;
  --tw-prose-th-borders: #e5e7eb;
  --tw-prose-td-borders: #e5e7eb;
}
